<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="../assets/images/8432.jpg" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3 text-center">
                        <p>CURRENT MARKET PRICE OF STOCK AND SHARE</p>
                        <p><button routerLink="/currentprice" class="accent">View Price</button></p>
                        
                    </div>
                    <hr>
                    <div class="row mb-3 px-3 left-btn">
                        <mat-card-content class="text-center">
                            <p><u>CALCULATE ASSETS</u></p>
                            <p><button routerLink="/viewasset" class="accent">View Assets</button></p>
                        </mat-card-content>
                    </div>
                    <div class="row mb-3 px-3 right-btn">
                        <mat-card-content class="text-center">
                            <p><u>SELL STOCK & MUTUAL FUND</u></p>
                            <p><button routerLink="/sellasset" class="accent">Sell Assets</button></p>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

