<div class="container">
    <div class="contact-us-content">
        <h1 style="font-size: 60px;font-weight: 100;color:black;text-align: center;">Contact Details</h1>
        <h3 style="font-weight: 200;font-size: 25px; color:black;text-align:center">Your problems are our priority</h3>
        <br><br>
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Services</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Phone</b></td>
                    <td>+9971930070</td>
                </tr>
                <tr>
                    <td><b>email</b></td>
                    <td>portfolio@gmail.com</td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>
                        <address>..................
                        </address>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-dark" routerLink="/">Back</a>
    </div>
</div>